<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Projeto{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='perguntas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='relatorio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li class="title">QUIZ FINANCE</li>
            <li><a href="{{ url_for('cadastro') }}">Cadastro</a></li>
            <li><a href="{{ url_for('relatorio') }}">Relatório</a></li>
        </ul>
    </nav>
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Atividade Extenssionista II - Todos os direitos reservados.</p>
            
        </div>
    </footer>

</body>
</html>
